PORTA=3000

BANCO_HOST=localhost
BANCO_PORTA=5432
BANCO_USUARIO=postgres
BANCO_SENHA=sua_senha
BANCO_NOME=criar_banco

JWT_SEGREDO=troque_por_um_segredo_longo_e_aleatorio
JWT_EXPIRACAO=8h
BCRYPT_RODADAS=12
